body{
    margin: 0px;
    padding: 0px;
    font-style: Roboto;
    display: flex;
    flex-direction: column;
}

.hero-section,
.footer{
    background-color: #1f2937;
}

.logo-text{
    color: #F9FAF8;
    font-size: 24px;
    flex: 1;
    padding: 12px;
}

.hero-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.nav-links,
.hero-intro{
    font-size: 18px;
    color: #E5E7EB;

}

.nav-links a{
    text-decoration: none;
    color: #E5E7EB;
}

.contacts,
.nav-links{
    list-style: none;
}

.hero-button,
.contact-container{
    background-color: #3882F6;
}
    
.featured-title{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote-section{
    background-color: #E5E7EB
}

.qoute-container p{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.nav-links{
    display: flex;
    gap: 16px;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.hero-banner img{
    height: 300px;
    width: auto;
    border-radius: 5%
}

.hero-section{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 150px;
    gap: 16px;
}

.hero-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo img{
    height: 60px;
    width: auto;
    padding: 0;
    border-radius: 50%;
}

.text-container{
    margin: 50px 100px 50px 0px;
}

.featured-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 150px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card img{
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.card p{
    text-align: center;
}